[submodule "queuetie-gateway"]
	path = queuetie-gateway
	url = git@github.com:dejan-babic-symphony/queuetie-gateway.git
[submodule "queuetie-app"]
	path = queuetie-app
	url = git@github.com:dejan-babic-symphony/queuetie-app.git
